*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightcyan
}
.row{
    border: 2px solid red;
}
.col-sm-4{
    background-color:lightcoral;
    height:300px;
    /* margin-left: 1px; */

}